<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidenav">
    <img src="../../../../assets/img/png/Logo_stoctable.png" id="logo" >
    STOCTABLE
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="background-color:  rgb(128, 103, 238)">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    Aqui vai ficar o conteudo
  </mat-drawer-content>
</mat-drawer-container>
