.example-container {
  width: auto;
  height: 100%;
  border: 1px solid #555;
}

.sidenav{
  width: 15em;
  background-color: rgb(69, 56, 127);
  color: aliceblue;
  padding: 20px;
  text-align: center;
  font-size: 43px;
  width: 270px;
  font-family: 'Bebas Neue', cursive;

}

#logo{
  height: 30px;
  width: 30px;
  margin:  10px 15px 0 0;
}

