<section class="produto-container">
  <div class="title-content">
    <st-titulo [titulo]="'Estoque'" [descricao]="'Listagem de produtos no estoque'">
    </st-titulo>
  </div>


  <div class="table-actions">
    <st-input [placeholder]="'Pesquisa...'" [hasLabel]="false" [type]="'text'"></st-input>
    <st-botao (click)="addProduto()">Cadastrar</st-botao>
    <st-botao (click)="addProduto()" [estilo]="'btn-red'">Remover</st-botao>
  </div>

  <table>
    <thead>
      <tr>
        <th class="border-radius-left"><input type="checkbox" class="checkbox"></th>
        <th class="thead-style">Descrição</th>
        <th class="thead-style">Fabricante</th>
        <th class="thead-style">Quantidade</th>
        <th class="border-radius-right">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>
          <input type="checkbox" class="checkbox">
        </td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.fabricante.nome }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.precoVenda | currency : 'BRL' }}</td>
      </tr>
    </tbody>
  </table>
</section>
