.title-produtos{
  margin: 20px;
  font-weight: bolder;
  color: rgb(93, 45, 138);
}

table{
  width: 100%;
}

.produto-container{
  width: 95%;
  margin-left: 3%;
}

.head-btns{

}

.ml-10{
  margin-left: 10px;
}

mat-form-field.mat-form-field {
  font-size: 12px;
  margin: 20px 20px 0px 10px;

}
