<div class="cad-prod-page">
  <div class="form-header">
    <st-titulo [titulo]="'Cadastro de Produto'"
      [descricao]="'Preencha o formulário abaixo com os detalhes do produto.'"></st-titulo>
  </div>
  <div class="content">
    <div class="input-section">
      <form [formGroup]="produtoForm">
        <st-input [label]="'Descrição do Produto'" formControlName="descricao" [type]="'text'">
        </st-input>
        <st-input [label]="'Fabricante'" formControlName="fabricante" [type]="'select'" [options]="listegemDeFabricante()" [selectedOption]="selectedValue"
        (optionSelected)="onOptionSelected($event)">
        </st-input>
        <st-input [label]="'Unidade'" formControlName="unidade" [type]="'select'" [options]="unidades" [selectedOption]="selectedValue"
        (optionSelected)="onOptionSelected($event)">
        </st-input>
        <st-input [label]="'Fornecedor'" formControlName="fornecedor" [type]="'select'">
        </st-input>
        <st-input [label]="'Preço de Custo'" formControlName="precoCusto" [type]="'number'">
        </st-input>
        <st-input [label]="'Preço de Venda'" formControlName="precoVenda" [type]="'number'">
        </st-input>
        <st-input [label]="'Preço Médio'" formControlName="precoMedio" [type]="'number'">
        </st-input>
        <st-input [label]="'Margem de Lucro'" formControlName="margemLucro" [type]="'number'">
        </st-input>
        <st-input [label]="'Quantidade'" formControlName="quantidade" [type]="'number'">
        </st-input>
        <st-input [label]="'Quantidade Mínima'" formControlName="qtMinima" [type]="'number'">
        </st-input>
        <st-input [label]="'Alicota ICMS'" formControlName="alicotaICMS" [type]="'number'">
        </st-input>
        <st-input [label]="'Base Calculo ICMS'" formControlName="baseCalcICMS" [type]="'number'">
        </st-input>
        <st-input [label]="'Peso Bruto'" formControlName="pesoBruto" [type]="'number'">
        </st-input>
        <st-input [label]="'Peso Líquido'" formControlName="pesoLiquido" [type]="'number'">
        </st-input>
        <st-input [label]="'Código Interno'" formControlName="codigoInterno" [type]="'number'">
        </st-input>
        <st-input [label]="'Observação'" formControlName="observacao" [type]="'textarea'">
        </st-input>
      </form>
    </div>
    <div class="photo-section">
      <p>Foto do Produto</p>
      <div class="photo-content"></div>
    </div>

  </div>
  <div class="btn-content">
    <st-botao estilo="btn-green" (click)="adicionarProduto()">Salvar</st-botao>
    <st-botao estilo="btn-red" mat-dialog-close (click)="fecharDialogo()">Cancelar</st-botao>
  </div>
</div>
