.title-dashboard{
  margin: 20px;
  font-weight: bolder;
  color: var(--secondary);
}


.card h1{
  color: aliceblue;
}

.card h3{
  color: var(--green);
}

.dash-topo{
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .dash-topo {
    flex-direction: column;
  }
}
