.title-dashboard{
  margin: 20px;
  font-weight: bolder;
  color: var(--secondary);
}

.card-status {
  margin-left: 40px;
  max-width: 200px;
  margin-bottom: 8px;
  background-color: var(--primary);
  color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  //color: rgb(93, 45, 138);
}

.card h1{
  color: aliceblue;
}

.card h3{
  color: var(--green);
}

.dash-topo{
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .dash-topo {
    flex-direction: column;
  }
}
