<h1 class="title-dashboard">Dashboard</h1>

<div class="dash-topo">
  <mat-card class="card-status vermelho">
    <mat-card-title-group>
      <mat-card-subtitle>VENDA MENSAL</mat-card-subtitle>
      <mat-card-title>R$ 56.400,58</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
  <mat-card class="card-status amarelo">
    <mat-card-title-group>
      <mat-card-subtitle>TOTAL VENDAS HOJE</mat-card-subtitle>
      <mat-card-title>R$ 6.400,58</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
  <mat-card class="card-status">
    <mat-card-title-group>
      <mat-card-subtitle>VENDA SEMANAL</mat-card-subtitle>
      <mat-card-title>R$ 13.340,90</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>


</div>
